*~
._*
.DS_Store
Thumbs.db

site/*/data/db.sqlite
site/*/cache/*
site/*/logs/*
*-local.ini
nbrproject
nbproject/*
site/campusbuzz/app/modules/aggregation/config/feeds.json
site/campusbuzz/solrCoreConfigs/solr/FeedItems/data/*
site/campusbuzz/solrCoreConfigs/solr/QueryLog/data/*
site/campusbuzz/solrCoreConfigs/solr/LocationMap/data/*


